.icon {
  width: 42px;
  height: 42px;
  border-radius: 60px;
  background: rgb(89, 177, 122);
  fill: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14;
  font-weight: 500;
}

.btn:hover .icon {
  background: rgb(63, 148, 95);
}
