.button {
  width: 196px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 1px solid rgba(89, 177, 122, 0.5);
  background-color: transparent;
  border-radius: 60px;

  color: rgb(29, 30, 33);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  transition: all 250ms ease-in;
}

.button:hover {
  background: rgb(89, 177, 122);
  color: rgb(255, 255, 255);
}
