.wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.inputWrap {
  position: relative;
}

.input {
  box-sizing: border-box;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  background: rgb(255, 255, 255);

  width: 100%;
  height: 44px;
  padding: 13px 18px;

  color: rgb(29, 30, 33);
  font-family: Inter;
  font-size: 12px;
  line-height: 1.2;
}

.input::placeholder {
  color: rgba(29, 30, 33, 0.4);
  font-size: 12px;
  line-height: 1.2;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(89, 177, 122);
}

.errormessage {
  color: red;
}

.iconChevron {
  position: absolute;
  top: 16px;
  right: 18px;
  cursor: pointer;
  stroke: rgb(29, 30, 33);
}

.buttonWrap {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}

.buttonAdd {
  display: block;
  width: 100%;
  border-radius: 60px;

  background: rgb(89, 177, 122);
  color: rgb(255, 255, 255);

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;

  padding: 13px;

  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}

.buttonCancel {
  display: block;
  width: 100%;
  border-radius: 60px;

  background: rgba(29, 30, 33, 0.1);
  color: rgba(29, 30, 33, 0.4);

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;

  padding: 13px;

  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .input,
  .button {
    width: calc((536px - 80px - 8px) / 2);
  }

  .wrap {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .button {
    margin-bottom: 40px;
  }
}

.buttonAdd:hover {
  background-color: rgb(63, 148, 95);
}

.buttonCancel:hover {
  border: 1px solid rgb(89, 177, 122);
  color: rgb(89, 177, 122);
  background-color: rgb(255, 255, 255);
}

/* For WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar {
  position: absolute;
  top: 48px;
  z-index: 200;
  outline: none;
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 8px;
}

.tile,
.label,
.navigationButton {
  font-family: Inter;
  padding: 3px;
}

.iconCalendar {
  position: absolute;
  top: 14px;
  right: 18px;
  cursor: pointer;
  stroke: rgb(89, 177, 122);
}
