@import-normalize;
/* bring in normalize.css styles */

:root {
  --primary-color-white: rgb(251, 251, 251);
  --primary-color-black: rgb(17, 16, 28);
  --primary-color-blue: rgb(9, 87, 195);
  --primary-color-grey: rgb(138, 138, 137);

  --secondary-color-white: #fbfbfb;
  --secondary-color-black: #11101c80;

  --border-color-white: #fbfbfb66;
  --backdrop-color-black: #0b0b0b99;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  background-color: rgb(247, 248, 250);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  position: absolute;
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body-scroll-lock {
  overflow: hidden;
}

.whiteBack {
  margin: 0 auto;
  height: 100vh;
  background: var(--primary-color-white);
}

a {
  text-decoration: none;
}

button {
  font-family: 'Helvetica Neue';
  display: block;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
